ProjectName=POC Test  
Suite=Smoke
Environment=Stage
SendReportEmail=Yes
To=sutla@deloitte.com;
CC=sutla@deloitte.com;
SendAllReportsEmail=No
Html5Application=No
BatchExecution=No
DevSMTPServer=DTTDEVMAIL.US.DTTPLATFORM.DEV
IntSMTPServer=DTTDEVMAIL.US.DTTPLATFORM.DEV
QaSMTPServer=APPMAIL.AME.FANTASIA.QA
StageSMTPServer=APPMAIL.ATRAME.DELOITTE.COM
ProdSMTPServer=APPMAIL.ATRAME.DELOITTE.COM